# 1. 노벨상 문제

# 데이터 입력

In [33]:
import pandas as pd

data = pd.read_csv('./example1.csv')
print(data.shape)
data.head()

(13, 4)

            Name  Height       IQ Gender
0  Youngjeon Lee     174      102      M
1    Chaebin Lim     179      109      M
2    Eunsun Shim     160      102      F
3   Daewoong Kim     174      103      M
4       Sora Lee     159  no data      F

# 결측치가 존재하는 비율 R구하기

In [34]:
data.dtypes

Name      object
Height     int64
IQ        object
Gender    object
dtype: object

In [35]:
data['IQ']

0         102
1         109
2         102
3         103
4     no data
5         113
6         104
7         102
8         102
9          99
10        101
11         95
12        NaN
Name: IQ, dtype: object

In [36]:
# IQ 값을 numeric으로 형변환 / 숫자가 아닌 것은 NaN값으로 변경
data['IQ'] = pd.to_numeric(data['IQ'], errors='coerce')
R = data['IQ'].isnull().sum()/len(data)
R

0.15384615384615385

# 성별에 대한 IQ의 평균을 1의자리에서 내림한값으로 채워 넣는다.

In [37]:
# iq의 null값을 각 gender의 iq 평균값으로 채운다.
data['IQ'] = data.groupby("Gender")['IQ'].transform(lambda x: x.fillna(x.mean()))

In [38]:
# 1의 자리에서 내림
data['IQ'] = data['IQ'].apply(lambda x : int(x))

In [39]:
data = pd.DataFrame(data)

# 데이터의 평균오차 계산

In [40]:
# 남자는 키 - 170, 여자는 키 - 160이 예측값이다.
predict = data['Height'] - [70 if g=="M" else 60 for g in data['Gender']]

In [41]:
# 실제값과 예측값을 빼서 절댓값을 취하면 각 row의 에러가 된다.
data['E'] = abs(data['IQ'] - predict)
data.head()

            Name  Height   IQ Gender  E
0  Youngjeon Lee     174  102      M  2
1    Chaebin Lim     179  109      M  0
2    Eunsun Shim     160  102      F  2
3   Daewoong Kim     174  103      M  1
4       Sora Lee     159  101      F  2

In [42]:
E = sum(data['E'])/len(data)

# 남자의 키가 [168,172]이고 여자의 키가 [158,162]인 데이터의 비율 H(%) 구하기
### 그룹함수 써서 해보기!

In [43]:
gender_grouped = dict(list(data.groupby('Gender')))

In [44]:
female = gender_grouped['F']
male = gender_grouped['M']
H = (len(female[(female.Height >= 158) & (female.Height <= 162)]) + len(male[(male.Height >= 168) & (male.Height <= 172)])) / len(data)

In [45]:
H

0.38461538461538464

# 결과 출력하기

In [46]:
R = int(R*100)
E = int(E)
H = int(H*100)
print(R, E, H)

15 2 38

In [47]:
if R > 25 or E > 5 or H > 50:
    print('GodHyeIn')
else:
    print("GodDaeWoong")

GodDaeWoong