# 데이터 입력

In [39]:
import pandas as pd

data = pd.read_csv('./example1.csv')
print(data.shape)
data.head()

(13, 4)

            Name  Height       IQ Gender
0  Youngjeon Lee     174      102      M
1    Chaebin Lim     179      109      M
2    Eunsun Shim     160      102      F
3   Daewoong Kim     174      103      M
4       Sora Lee     159  no data      F

# 결측치가 존재하는 비율 R구하기

In [36]:
data.dtypes

Name      object
Height     int64
IQ        object
Gender    object
dtype: object

In [11]:
R = data['IQ'].isnull().sum()/len(data)

# 성별에 대한 IQ의 평균을 1의자리에서 내림한값으로 채워 넣는다.

In [37]:
# 일단 no data 값을 0으로 채우기
data.loc[data['IQ'] == 'no data', "IQ"] = 0
# IQ 값을 int로 체인지
data['IQ'].astype(int)

ValueError: cannot convert float NaN to integer

In [32]:
data.groupby(['Gender']).mean()

            Height
Gender
F       160.000000
M       177.166667

In [17]:
for i in data.groupby('Gender'):
    print(i)

('F',            Name  Height       IQ Gender
2   Eunsun Shim     160      102      F
4      Sora Lee     159  no data      F
6    Youmin Kim     160      104      F
7    Doyeon Lee     157      102      F
8   Hyein Jeong     162      102      F
9   Soomin Kang     164       99      F
10  Hyemin Kwon     158      101      F)
('M',              Name  Height   IQ Gender
0   Youngjeon Lee     174  102      M
1     Chaebin Lim     179  109      M
3    Daewoong Kim     174  103      M
5      Kiyoon You     184  113      M
11    Jaeyeon Han     177   95      M
12      Andrew Ng     175  NaN      M)

# 데이터의 평균오차 E 계산

In [10]:
data['Height'] - data['IQ']

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
이후데이터의평균오차E를계산한다. E > 5 일경우감사를통과하지못한다. 데이터의오차는다음과같이정의한다.𝐸= |예측값−실제값|데이터의개수

In [ ]:
# 남자의IQ 는키(cm) –70 로수렴하고,여자의IQ 는키(cm) –60 으로수렴한다.

In [ ]:
# IQ 에대한결측치가존재하는행의비율을R(%) 라하자. 이후성별에대한IQ 의평균을1의자리에서내림한값으로채워넣는다. R > 25 일경우감사를통과하지못한다.

In [ ]:
# 이후데이터의평균오차E를계산한다. E > 5 일경우감사를통과하지못한다. 데이터의오차는다음과같이정의한다.𝐸= |예측값−실제값|데이터의개수